
body {
  background: url(../photos/sun-pattern.png);
  /* padding-top: 60px; */
}

.header {
  border-bottom: solid;
  border-color: #cccccc;
  /* max-height: 75px; */
}

.contentBox {
  max-width: 960px;
  /* background: grey; */
  /* padding-top: 60px; */
}

.nameBox {
  max-width: 285px;
  height: 100%;
  background-color: #4aaaa5;
  color: #FFFFFF;
}

h2 {
  /* padding: 12px 0 0 12px; */
}

h3 {
  color: #4aaaa5;
}

.navBox {
  float: right;
}

img {
  max-height: 200px;
  max-width: 220px;
}

.navbar {
  height: 75px;
}

/* color of the footer and border below */
.footCol {
  background: #666666;
  border-top: solid;
  border-width: .5rem;
  border-color: #4aaaa5;
}
