
body {
  background: url(../photos/connectwork.png);
  /* Background pattern from Toptal Subtle Patterns */
  /* https://www.toptal.com/designers/subtlepatterns/ */
  max-height: 100%;

}

.header {
  border-bottom: solid;
  border-color: #ffcc33;
}

.contentBox {
  max-width: 960px;
}

.nameBox {
  max-width: 285px;
  height: 100%;
  background-color: #ffcc33;
  color: #FFFFFF;
  text-shadow: .5px .5px #000000;
}

#nav {
  background-color: #666666;
}

h3 {
  color: #000000;
  text-shadow: .75rem, .75rem, #FFFFFF;
}

a, img {
  max-height: 200px;
  max-width: 220px;
  color: #ffcc33;
}

a:hover {
  color: #ffcc33;
  text-shadow: .5px .5px #000000;
  color: #ffcc33;
}

.navbar {
  height: 5rem;
}

#content {
  background-color: #f2f2f2;
  border-radius: .5rem;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    background-color: #ffcc33;
    color: #000000;
    text-shadow: .025rem .05rem #FFFFFF;
}

/* color of the footer and border below */
.footCol {
  background: #666666;
  border-top: solid;
  border-width: .2rem;
  border-color: #ffcc33;
}

.nav-link {
  color: #FFFFFF;
  text-shadow: .025rem .05rem #FFFFFF;
}

.btn {
  background-color: #ffcc33;
}

.wrap {
    height: auto;
    margin: 0 auto -75px;
    min-height: 100%;
    padding: 0 0 75px;
    box-sizing: border-box;
    overflow: auto;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  margin-top: .25rem;
}

@media screen and (min-width: 1440px) {
  .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 2560px) {
  .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
  }
}
